@model CustomerIndexViewModel


@{
    var customers = Model.Customers; 
    int slNo = 0; 
}
<div >
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in customers)
        {
            <tr>
                <td>@(++slNo)</td>
                <td>@customer.Name</td>
                <td>@customer.PhoneNo</td>
                <td>@customer.Address</td>
                <td><a class="btn btn-secondary" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Edit</a> | <a class="btn btn-success">View</a> | <a class="btn btn-danger" asp-action="Delete" asp-route-id="@customer.Id">Remove</a> </td>
            </tr>
        }
    </tbody>
</table>